@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

<footer class="container-fluid mt-5   border-top footer text-muted " 
    dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft? "rtl" : "ltr")">
    <div class="row ">
  
        <div class="col-md-3 col-12 my-3  text-dark text-center"> 
            <h3 class="text-start text-uppercase text-dark fw-bold  text-center"> 
            <img src="~/image/logo.png"> <span class=" mx-1" style="color:#f68b1e;">E-</span>SHOPE</h3>
            <p class="text-secondary">
                @localizer["footerDescription"]
            </p>
            <div class="my-3   d-flex justify-content-around ">
                <i class="fa-brands fa-facebook fa-2x text-secondary"></i>
                <i class="fa-brands fa-twitter fa-2x text-secondary"></i>
                <i class="fa-brands fa-instagram fa-2x text-secondary"></i>
                <i class="fa-brands fa-youtube fa-2x text-secondary"></i>
              </div>
        </div>
   
        <div class="col-12 col-md-3 my-3  text-dark text-center "> 
            <h3 class="text-start text-uppercase text-dark fw-bold  text-center"> @localizer["Navigation"]</h3>
         @*   <ul class="list-group">
                <li class="list-group-item-action text-secondary">@localizer["Home"] </li>
                <li class=" list-group-item-action text-secondary">@localizer["OurService"] </li>
                <li class="list-group-item-action text-secondary">@localizer["Feadback"]</li>
                <li class="list-group-item-action text-secondary ">@localizer["request"]</li>
            </ul>*@
            <ul class="list-unstyled">
                
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"> @localizer["Home"] </a> 
                    <a class="nav-link text-dark" asp-controller="Product" asp-action="Index">@localizer["Product"] </a>
                    <a class="nav-link text-dark" asp-controller="About" asp-action="Index" >@localizer["About"] </a>
                    <a class="nav-link text-dark" asp-controller="ContactUs"  asp-action="Index"> @localizer["ContactUs"] </a>
            </ul>
        </div>
  
        <div class="col-12 col-md-3 my-3  text-dark text-center "> 
            <h3 class="text-start text-uppercase text-dark fw-bold text-center"> @localizer["More"]</h3>
            <ul class="list-unstyled">
                <a class="nav-link text-dark" href="#">@localizer["FAQ`S"] </a>
                <a class="nav-link text-dark" href="#">@localizer["Privacy"] </a>
                <a class="nav-link text-dark" href="#">@localizer["Liscences"]  </a>


               @* <li class="list-group-item-action text-secondary">@localizer["FAQ`S"] </li>
                <li class="list-group-item-action text-secondary">@localizer["Privacy"] </li>
                <li class="list-group-item-action -text-secondary">@localizer["Liscences"] </li>*@
  
            </ul>
        </div>
  
        <div class="col-12 col-md-3 my-3 text-dark text-center"> 
            <h3 class="text-start text-uppercase fw-bold  text-center">@localizer["Contact"] </h3>
            <ul class="list-unstyled">
                <li class="list-group-item-action text-secondary">E-SHOPE </li>
                <li class="list-group-item-action text-secondary">MANSOURA</li>
                <li class="list-group-item-action text-secondary">(20)353132424</li>
                <li class="list-group-item-action text-secondary">e-Shpe@yahoo.com</li>
            </ul> 
        </div> </div>
</footer> 
 