@model ContactUs
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    ViewData["Title"] = localizer["title"] ;

}

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Contact Form #6</title>

    <style>
        input{
            margin-bottom: 6px;
        }
    </style>

<div class="container-fluid  col-sm-9  mt-6 ">

    <div class="row g-0"> 
    
  <body>
  

  <div class="content">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">

            <!--Section heading-->
            <div>
        <h2 class="h1-responsive font-weight-bold text-center my-4 align-content-center align-content-around ">@localizer["ContactUs"] </h2>

    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
        @localizer["text"]
    </p>

          
        </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              
              <h3 class="heading mb-4">@localizer["letTalk"] </h3>
              <p>@localizer["feedback"] </p>
              <p><img src="image/undraw-contact.svg" alt="Image" class="img-fluid"></p>


            </div>
            <div class="col-md-6">
              
              <form class="mb-5" method="post" id="contactForm" name="contactForm">

               <div class="row">
                  <div class="col-md-12 form-group">
                    <input asp-for="Name" type="text" class="form-control" name="Name" id="Name" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input asp-for="Email" type="text" class="form-control" name="Email" id="Email" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input asp-for="Subject" type="text" class="form-control" name="Subject" id="Subject" placeholder="Subject">
                    <span asp-validation-for="Subject" class="text-danger"></span>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Write your message"></textarea>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-12">
                    <input style="margin-top:8px;" type="submit" value=@localizer["send"] class="btn btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>

              <div id="form-message-warning mt-4"></div> 
              <div id="form-message-success">
                @localizer["confirm"]
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>