
@model Product

@{
    ViewData["Title"] = "Product details";
    
}

@*<div class="row g-0 mt-6">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">

                        <p class="card-text">
                            <h5 class="card-title text-center">
                                @Model.Name
                            </h5>
                        </p>
                    </div>

                </div>
               
                <div class="col-md-4">
                    <img src="@Model.Image" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                           <p class="card-text text-uppercase"><b>Category: </b>@Model.Category.Name</p>

                           <p class="card-text text-danger">
                               <b class="text-black">Price: </b>@Model.Price.ToString("c")</p>

                           <p class="card-text text-black ">Old_Price: 
                             <b class=" text-muted text-secondary text-decoration-line-through">
                              @Model.Old_Price.ToString("c") </b></p>
                               
                            
                        <p  class="card-text " >
                            <b class=" badge bg-primary text-wrap" style="width: 6rem;">Description: </b>@Model.Description</p>
                           

                       

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            <a class="btn btn-success text-white " 
                                   asp-controller="Order" 
                                   asp-action="AddItemToShoppingCart" 
                                   asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="container">
		<div class="card card-details">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="@Model.Image" width="100%" height="450px" alt="@Model.Name"/></div>
@*						  <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>*@
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="@Model.Image" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="@Model.Image" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="@Model.Image" /></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="@Model.Image" /></a></li>
						  <li><a data-target="#pic-5" data-toggle="tab"><img src="@Model.Image" /></a></li>
						</ul>
						
					</div>
					<div class="details col-md-6 mt-3">
						<h3 class="product-title">@Model.Name</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						
						<h4 class="price">current price: <span>@Model.Price.ToString("c")</span></h4>
						<p class="card-text text-black ">Old_Price: 
                             <b class=" text-muted text-secondary text-decoration-line-through">
                              @Model.Old_Price.ToString("c") </b></p>
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<h5 class="sizes">sizes:
							<span class="size" data-toggle="tooltip" title="small">s</span>
							<span class="size" data-toggle="tooltip" title="medium">m</span>
							<span class="size" data-toggle="tooltip" title="large">l</span>
							<span class="size" data-toggle="tooltip" title="xtra large">xl</span>
						</h5>
						<h5 class="colors">colors:
							<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
							<span class="color green"></span>
							<span class="color blue"></span>
						</h5>
						<div class="action">
							<button class="add-to-cart btn btn-default" type="button">add to cart</button>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>

					<div class="col-xs-9 mt-5">
                    <ul class="menu-items">
                        <li class="active">Details</li>
       
                    </ul>
                    <div style="width:100%;border-top:1px solid silver">
              
                        <small>
                            @Model.Description  
                        </small>
                    </div>
                </div>

				</div>
			</div>
		</div>

        <div class="col-12 style_showmore px-3">
  <span>Selected Just For You</span>
  <button>Show More</button>
</div>

<div class="swiper mySwiper">
      <div class="swiper-wrapper">
         
            @foreach( var item in ViewBag.product)
            {
            @if (item.CategoryId == Model.CategoryId)
            {
                   <div class="col-md-3 swiper-slide">
              <div class="card card-border-none resp-wrap-align-center">
               
               <img  src="@item.Image"
               class="card-img-top img-fluid rounded"
               alt="..."
               (click)="goToProductDetails(item)" />
               
                        @if (item.Discount!=0)
                        {
                            <a  asp-action="Details"  asp-controller="Product"  asp-route-id="@item.Id">
                          <div class="card-img-overlay" >
                          <span class="mx-2 text-light p-1 bg-danger text-white" >Discount</span ></div>
                            </a>
                        } else
                            {
                                 <a  asp-action="Details"  asp-controller="Product"  asp-route-id="@item.Id">
                          <div class="card-img-overlay" >
                          <span  ></span ></div>
                            </a>
                                
                            }

               <div class="card-body">
                <div class="overflow-hidden">
                <h5
                  class="card-title fs-6 d-inline-block text-truncate font-monospace text-start text-primary" >
                  @item.Name
                </h5>
              </div>
                 <div class="styleprice">
                <p class="card-text text-muted">@item.Price.ToString("c") </p>
                                @if (item.Discount !=0)
                                {
                                     <p class="card-text text-danger text-decoration-line-through">
                                           @item.Old_Price.ToString("c")
                                        </p>
                                }         else
                                    {
                                        <p></p>
                                    }
                                   
           
             
                         </div>
              </div>
              //Addto cart button
               <div class="alert alert-dark stylealert">
             @* <button
                style="border: none; background-color: #d3d3d4"
                (click)="addToCart(item)">
                <i class="fas fa-cart-plus text-primary"></i>
              </button>*@
               <a class="btn btn-success text-white " 
                                   asp-controller="Orders" 
                                   asp-action="AddItemToShoppingCart" 
                                   asp-route-id="@Model.Id">
                                <i class="fas fa-cart-plus text-primary"></i> Add to Cart (Price @item.Price.ToString("c"))</a>
             
              <i
                class="fas fa-heart text-primary"
                (click)="removeItemFav(item)"></i>
            </div>
            


               </div> 
               </div>
            }
 
            }
         </div>

        <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> 
   </div>




	</div>


    @section Scripts{
 <script>
      var swiper = new Swiper(".mySwiper", {
          slidesPerView: 3,
        spaceBetween: 30,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
}