
@model Product

@{
    ViewData["Title"] = "Product details";
    
}



@*<div class="row g-0 mt-6">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">

                        <p class="card-text">
                            <h5 class="card-title text-center">
                                @Model.Name
                            </h5>
                        </p>
                    </div>

                </div>
               
                <div class="col-md-4">
                    <img src="@Model.Image" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                           <p class="card-text text-uppercase"><b>Category: </b>@Model.Category.Name</p>

                           <p class="card-text text-danger">
                               <b class="text-black">Price: </b>@Model.Price.ToString("c", new System.Globalization.CultureInfo("en-US"))</p>

                           <p class="card-text text-black ">Old_Price: 
                             <b class=" text-muted text-secondary text-decoration-line-through">
                              @Model.Old_Price.ToString("c", new System.Globalization.CultureInfo("en-US")) </b></p>
                               
                            
                        <p  class="card-text " >
                            <b class=" badge bg-primary text-wrap" style="width: 6rem;">Description: </b>@Model.Description</p>
                           

                       

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            <a class="btn btn-success text-white " 
                                   asp-controller="Order" 
                                   asp-action="AddItemToShoppingCart" 
                                   asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c", new System.Globalization.CultureInfo("en-US")))</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="container">
		<div class="card card-details">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img id="zoom_01" src="@Model.Image" data-zoom-image="@Model.Image" width="100%" height="450px" alt="@Model.Name"/></div>
                          


@*						  <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>*@
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
                        @for(int i = 0; i < @Model.Images.Count(); i++)
                        {
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="@Model.Images[i].URL" height="100px" /></a></li>

                            
                        }

                       @* <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="@Model.Images[0].URL" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="@Model.Image" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="@Model.Image" /></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="@Model.Image" /></a></li>
						  <li><a data-target="#pic-5" data-toggle="tab"><img src="@Model.Image" /></a></li>*@
						</ul>
						
					</div>
					<div class="details col-md-6 mt-3">
						<h3 class="product-title">@Model.Name</h3>
                        <h1></h1>
						<div class="rating">
							<div class="stars">
                            @if (Model.Rate == 0)
                            {
                                <span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star "></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
                            }
                            @if (Model.Rate == 1)
                            {
                                <span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star "></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
                            }
                            @if(Model.Rate ==2)
                            {
                                <span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star "></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
                            }
                            @if(Model.Rate ==3)
                            {
                                <span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
                            }
                            @if(Model.Rate ==4)
                            {
                                <span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
                            }
                            @if(Model.Rate ==5)
                            {
                                <span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
                            }
                            
                            
                            </div>
                            @*<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>*@
							<span class="review-no">@Model.Comments.Count() reviews</span>
						</div>
						
						<h4 class="price">current price: <span>@Model.Price.ToString("c", new System.Globalization.CultureInfo("en-US"))</span></h4>
						<p class="card-text text-black ">Old_Price: 
                             <b class=" text-muted text-secondary text-decoration-line-through">
                              @Model.Old_Price.ToString("c", new System.Globalization.CultureInfo("en-US")) </b></p>
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(@Model.Comments.Count() votes)</strong></p>



						@if (@Model.Sizes.Count() != 0)
                    {

                        <h5 class="sizes">sizes:
                            @for (int i = 0; i < @Model.Sizes.Count(); i++)
                            {
                                <span class="size" data-toggle="tooltip">@Model.Sizes[i].Size</span>
                            }
                            @*<span class="size" data-toggle="tooltip" title="medium">m</span>
                                <span class="size" data-toggle="tooltip" title="large">l</span>
                                <span class="size" data-toggle="tooltip" title="xtra large">xl</span>*@
                        </h5>
                    }
                    
               
                    @if(@Model.Colors.Count() !=0)
                    {
                        
                    
                    <h5 class="colors">colors:
                             @for (int i = 0; i < @Model.Colors.Count(); i++)
                    {
                        <span class="color @Model.Colors[i].Color"></span>
                    }
							@*<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
							<span class="color green"></span>
							<span class="color blue"></span>*@
						</h5>
                        }

                        <div class="action">
                            <a   asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id" onclick="return confirm('success Product Add in Cart ');" class="add-to-cart btn btn-default">add to cart</a >
@*							<button class="add-to-cart btn btn-default" type="button">add to cart</button>
*@                          <a asp-controller="Favorite" asp-action="AddItemToFavorite" asp-route-id="@Model.Id">
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                            </a>						
                        </div>
                    </div>

	@*				<div class="col-xs-9 mt-5">
                    <ul class="menu-items">
                        <li class="active">Details</li>
       
                    </ul>

						<div class="action">
						 <div class="alert alert-dark stylealert">
                                <a   asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                    <i class="fas fa-cart-plus text-primary"></i> </a >

                                <i *ngIf="addToFavourit"
                               class="fas fa-heart text-primary"
                               (click)="removeItemFav(item)"></i>
                            </div>
						</div>
					</div>*@

					<div class="col-xs-9 mt-5">
                    <ul class="menu-items">
                        <li class="active">Details</li>
                    </ul>
                    <div style="width:100%;border-top:1px solid silver">
              
                        <small>
                            @Model.Description  
                        </small>
                    </div>
                    <hr />
                    <br />

                    <ul class="menu-items">
                        <li class="active">Comments</li>
                        </ul>

                    @for (int i = 0; i < @Model.Comments.Count(); i++)
                    {
                        <table style="width:100%; border:1px solid black"  >
                            <tr>
                                <td class="p-2">
                                    <i class="fa-solid fa-user"></i>
                                    <a style="text-decoration:none" href="#">  @Model.Comments[i].User.FullName </a>
                                </td>
                                <td class="p-2 float-right">
                                @Model.Comments[i].Date.ToString("dd-MMM-yyyy")
                                </td>
                            </tr>
                            <tr>
                                <td class="p-2">
                                @Model.Comments[i].Comment
                                </td>
                            </tr>
                            <tr>
                                <td class="p-2">
                                    @for(int x = 0; x < @Model.Comments[i].Rating; x++)
                                    {
                                        <span class="fa fa-star checked"></span>
                                    }
                                      @for(int x = @Model.Comments[i].Rating; x <5 ; x++)
                                    {
                                        <span class="fa fa-star "></span>
                                    }
                                 
                                </td>
                            </tr>
 
                        </table>
                        <br />

                    }

                                  @if (User.Identity.IsAuthenticated)
                    {
                        <h6>Add your Comment</h6>


                        @using (Html.BeginForm("AddComment", "Product", FormMethod.Post, new { id = Model.Id, onsubmit = "return VerifyRating()" }))
                        {
                            <textarea rows="6" cols="50" name="Comment" id="txtComment"></textarea>
                            <div onmouseout="CRateSelected()">
                                <span id="span1" onmouseout="CRateOut(1)" onmouseover="CRateOver(1)" onclick="CRateClick(1)" class="fa fa-star "></span>
                                <span id="span2" onmouseout="CRateOut(2)" onmouseover="CRateOver(2)" onclick="CRateClick(2)" class="fa fa-star "></span>
                                <span id="span3" onmouseout="CRateOut(3)" onmouseover="CRateOver(3)" onclick="CRateClick(3)" class="fa fa-star "></span>
                                <span id="span4" onmouseout="CRateOut(4)" onmouseover="CRateOver(4)" onclick="CRateClick(4)" class="fa fa-star "></span>
                                <span id="span5" onmouseout="CRateOut(5)" onmouseover="CRateOver(5)" onclick="CRateClick(5)" class="fa fa-star "></span>
                            </div>
                            <div>
                                <input type="hidden" id="lblRating" name="Rating" value="0">
                                <input type="hidden" id="lblProductId" name="ProductId" value="@Model.Id">
                                <input type="hidden" id="lblUserId" name="UserID" value="@ViewBag.userid">

                            </div>
                            <br />

                            <input type="submit" class="btn btn-warning " name="SaveComment"  value="Save Comment" />

                        }

                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                          You must <a asp-controller="Account" asp-action="Login">Log in</a> to write your comment!
                        </div>
                    }
                </div>

				</div>
			</div>
		</div>

        <div class="col-12 style_showmore px-3">
  <span>Related Products</span>
  <button>Show More</button>
</div>

<div class="swiper mySwiper">
      <div class="swiper-wrapper">
         
            @foreach( var item in ViewBag.product)
            {
                
            @if (item.CategoryId == Model.CategoryId)
            {
                   <div class="col-md-3 swiper-slide">
              <div class="card card-border-none resp-wrap-align-center">
               <img  src="@item.Image"
               class="card-img-top img-fluid rounded"
               alt="..."
               (click)="goToProductDetails(item)" />
               
                        @if (item.Discount!=0)
                        {
                            <a  asp-action="Details"  asp-controller="Product"  asp-route-id="@item.Id">
                          <div class="card-img-overlay" >
                          <span class="mx-2 text-light p-1 bg-danger text-white" >Discount</span ></div>
                            </a>
                        } else
                            {
                                 <a  asp-action="Details"  asp-controller="Product"  asp-route-id="@item.Id">
                          <div class="card-img-overlay" >
                          <span  ></span ></div>
                            </a>
                                
                            }

               <div class="card-body">
                <div class="overflow-hidden">
                <h5
                  class="card-title fs-6 d-inline-block text-truncate font-monospace text-start text-primary" >
                  @item.Name
                </h5>
              </div>
                 <div class="styleprice">
                <p class="card-text text-muted">@item.Price.ToString("c", new System.Globalization.CultureInfo("en-US")) </p>
                                @if (item.Discount !=0)
                                {
                                     <p class="card-text text-danger text-decoration-line-through">
                                           @item.Old_Price.ToString("c", new System.Globalization.CultureInfo("en-US"))
                                        </p>
                                }         else
                                    {
                                        <p></p>
                                    }
                                   
           
             
                         </div>
              </div>


             @* //Addto cart button*@
               <div class="alert alert-dark stylealert">
             @* <button
                style="border: none; background-color: #d3d3d4"
               
                  asp-controller="Orders" 
                                   asp-action="AddItemToShoppingCart" 
                                   asp-route-id="@Model.Id">>
                <i class="fas fa-cart-plus text-primary"></i>
              </button>*@
               
             
                                 <a   asp-controller="Orders" 
                                 asp-action="AddItemToShoppingCart" 
                                 asp-route-id="@item.Id">
                    <i class="fas fa-cart-plus text-primary"></i> </a >

              <a asp-controller="Favorite" asp-action="AddItemToFavorite" asp-route-id="@item.Id">
              <i
                class="fas fa-heart text-primary"
                (click)="removeItemFav(item)"></i>
              </a>
            </div>
            


               </div> 
               </div>
            }
 
            }
         </div>

        <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> 
   </div>




	</div>


    @section Scripts{
 <script>

      var swiper = new Swiper(".mySwiper", {
          slidesPerView: 3,
        spaceBetween: 30,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

        $("#zoom_01").elevateZoom();



      //comments
                function CRateOut(rating){
            for(var i=1;i<=rating;i++){
                $("#span" + i).attr('class', 'fa fa-star');
            }
        }

        function CRateOver(rating){
             for(var i=1;i<=rating;i++){
                $("#span" + i).attr('class','fa fa-star checked');
            }
        }

        function CRateClick(rating){
            $("#lblRating").val(rating);
            for(var i=1;i<=rating;i++){
                $("#span" + i).attr('class','fa fa-star checked');
            }

            for(var i=rating;i<=5;i++){
                $("#span"+i).attr('class','fa fa-star');
            }
        }

        function CRateSelected(){
            var rating = $("#lblRating").val()
            for(var i=1;i<=rating;i++){
                $("#span"+i).attr('class','fa fa-star checked');
            }
        }

        function VerifyRating(){
            var rating = $("#lblRating").val()
            if( rating == "0"){
                alert("please select Rate!")
                return false;
            }else {
                alert("Thank you for your Feadback")
            }

        }
      
       
        
    </script>
}