@using Jumia_MVC.Data.ViewModel
@using Jumia_MVC.Controllers
@model FavoriteVM

@{
    ViewData["Title"] = "Favourit Products";
}
<style>
   /* *{
        background-color:white;
    }
    .row{
        background-color:lightgray;
    }
    .main{
        margin-top:10px;
        padding:10px;
        background-color:white;
        border-radius:5px
    }
    
    .item{
        display:block
    }*/
    .item{
        box-shadow:3px 3px 5px lightgray;
    }
    .item{
        height:150px;
        border:1px solid lightgray;
        padding-top:10px;

    }
    .btn{
        font-weight:bold;
    }
    .b2{
/*        border-color:#FBB03B;
*/        color:#ff8d00; 

    }
    .b2:hover {
        background-color: #f9d597;
        border-block-color: #f9d597;
        color: white;
    }
    .b1{
        background-color:#FBB03B;
        border-block-color:#FBB03B;
        color:white;
        box-shadow:3px 3px 5px lightgray
    }
    .b1:hover{
        border-color:#FBB03B;
        color:#FBB03B;
        background-color:white;
    }
    .card-img-top {
        height:97%;
        padding-left:3px;
    }
    /*.col-sm-9{
        width:100%;
        height:200px;
    }*/
    
</style>
<div class="row">
    <div class=" col-9 offset-2 main">
        <div style="padding-top:70px">
            <h2>Your Favourit Products!</h2><hr />
        </div>
        <div class="favitem">
            @foreach (var item in Model.Favorite.FavoriteItems)
                {
                    <div class="item d-flex ">
                        <a asp-action="Details" asp-route-id="@item.Product.Id" class="align-middle col-2"><img src="@item.Product.Image" class="card-img-top img-fluid rounded" @*style="height:100px"*@ /></a> 
                        <div class="align-middle col-6 p-2" ><div> @item.Product.Name<pre>
                        </pre></div>
                        <div class="styleprice align-middle"><p class="card-text text-muted ">@item.Product.Price.ToString("c")</p>
                                    @if (item.Product.Discount != 0)
                                    {
                                        <p class="card-text text-danger text-decoration-line-through">
                                            @item.Product.Old_Price.ToString("c")
                                        </p>
                                    }
                                    else
                                    {
                                        <p></p>
                                    }
                            </div>
                        </div>
                        <div class="align-middle col-1"></div>
                        <div>
                            <div class="btn-group">
                                    <a class="btn b1" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Product.Id">
                                        <i class="fas fa-cart-plus"><partial></i><span> Add To Cart</span>
                                    </a>
                                
                                </div>
                            <pre>
                            </pre>
                        <div class="align-middle">
                                <div class="btn-group">
                                    <a class="btn b2" asp-controller="Favorite" asp-action="RemoveItemFromFavorite" asp-route-id="@item.Product.Id">
                                       <i class="bi bi-trash"></i><span> Remove</span></a>
                                
                                </div>
                        </div> 
                        </div>
                        </div>
                        <hr />
                }
                         
       </div>
       </div>
       

        <div class="text-center">
            <div class="btn-group">
                <a class="btn b1" asp-controller="Product" asp-action="Index">
                    CONTINUE SHOPPING
                </a>
            </div>
        </div>
    
        </div>


