@using Jumia_MVC.Data.ViewModel
@using Jumia_MVC.Controllers
@model FavoriteVM

@{
    ViewData["Title"] = "Favourit Products";
}
<style>
   /* *{
        background-color:white;
    }
    .row{
        background-color:lightgray;
    }
    .main{
        margin-top:10px;
        padding:10px;
        background-color:white;
        border-radius:5px
    }
    
    .item{
        display:block
    }*/
    .item{
        box-shadow:3px 3px 5px lightgray;
    }
    .item{
        height:150px;
        border:1px solid lightgray;
        padding-top:10px;

    }
    .btn{
        font-weight:bold;
    }
    .b2{
/*        border-color:#FBB03B;
*/        color:#ff8d00; 

    }
    .b2:hover {
        background-color: #f9d597;
/*        border-block-color: #f9d597;
*/        color: white;
    }
    .b1{
        background-color:#FBB03B;
/*        border-block-color:#FBB03B;
*/        color:white;
        box-shadow:3px 3px 5px lightgray
    }
    .b1:hover{
/*        border-color:#FBB03B;
*/        color:#FBB03B;
        background-color:white;
    }
    .card-img-top {
        height:97%;
        padding-left:3px;
    }
    /*.col-sm-9{
        width:100%;
        height:200px;
    }*/
    
</style>


<div class="row">
    <div class=" col-9 offset-2 main">
        <div style="padding-top:100px">
            <h2>Your Favourit Products!</h2><hr />
        </div>
        @if (Model.Favorite.FavoriteItems.Count()==0)
{
    <pre>
    </pre>
        <div class="text-center">
            <img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100'%3e%3cdefs%3e%3cpath id='a' d='M99.962 49.908c0 27.564-22.378 49.908-49.981 49.908C22.377 99.816 0 77.472 0 49.908S22.377 0 49.98 0c27.604 0 49.982 22.344 49.982 49.908'/%3e%3c/defs%3e%3cg fill='none' fill-rule='evenodd'%3e%3cmask id='b' fill='white'%3e%3cuse xlink:href='%23a'/%3e%3c/mask%3e%3cuse fill='%23F5F5F5' xlink:href='%23a'/%3e%3cg fill-rule='nonzero' mask='url(%23b)'%3e%3cpath fill='%23F68B1E' d='M61.496 29A12.01 12.01 0 0 0 51 35.127v35.83c3.38-2.511 22.5-17.287 22.5-30.082C73.5 34.317 68.125 29 61.496 29z'/%3e%3cpath fill='%23FFB048' d='M40.004 29C33.374 29 28 34.317 28 40.875c0 12.794 19.12 27.57 22.5 30.082v-35.83A12.011 12.011 0 0 0 40.004 29z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e"
            alt=""><pre>
            </pre>
            <h3>You haven’t saved an item yet!<pre></pre></h3>
            <h5 class="col-8 offset-2" >Found something you like? Tap on the heart shaped icon next to the item to add it to your wishlist! All your saved items will appear here.<pre>
            </pre></h5>
            <a class="btn b1" asp-controller="Product" asp-action="Index"  >CONTINUE SHOPPING</a>
        </div>
    
}else{
        <div class="favitem">
            @foreach (var item in Model.Favorite.FavoriteItems)
                {
                    <div class="item d-flex ">
                        <a asp-action="Details" asp-route-id="@item.Product.Id" class="align-middle col-2"><img src="@item.Product.Image" class="card-img-top img-fluid rounded" @*style="height:100px"*@ /></a> 
                        <div class="align-middle col-6 p-2" ><div> @item.Product.Name<pre>
                        </pre></div>
                        <div class="styleprice align-middle"><p class="card-text text-muted ">@item.Product.Price.ToString("c")</p>
                                    @if (item.Product.Discount != 0)
                                    {
                                        <p class="card-text text-danger text-decoration-line-through">
                                            @item.Product.Old_Price.ToString("c")
                                        </p>
                                    }
                                    else
                                    {
                                        <p></p>
                                    }
                            </div>
                        </div>
                        <div class="align-middle col-1"></div>
                        <div>
                            <div class="btn-group">
                                    <a class="btn b1" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Product.Id">
                                        <i class="fas fa-cart-plus"><partial></i><span> Add To Cart</span>
                                    </a>
                                
                                </div>
                            <pre>
                            </pre>
                        <div class="align-middle">
                                <div class="btn-group">
                                    <a class="btn b2" asp-controller="Favorite" asp-action="RemoveItemFromFavorite" asp-route-id="@item.Product.Id">
                                       <i class="bi bi-trash"></i><span> Remove</span></a>
                                
                                </div>
                        </div> 
                        </div>
                        </div>
                        <hr />
                }
                         
       </div>
       

        <div class="text-center">
            <div class="btn-group">
                <a class="btn b1" asp-controller="Product" asp-action="Index">
                    CONTINUE SHOPPING
                </a>
            </div>
        </div>
    

        }
